.btn {
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px 18px;
  border-radius: 5px;
  border: 1px solid #2980b9;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &.-primary {
    text-shadow: 1px 1px 3px #1e4b69;
    background: #2980b9;
  }
}
